aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.2.20
hachoir
lyricsgenius
py-tgcalls==0.8.4
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
git+https://github.com/Sorrybabe/downloader
tgcrypto
gitpython
heroku3
